<?xml version="1.0"?>
<launch>
    <!-- 运行激光雷达驱动 -->
   <include file="$(find rover_bringup)/launch/rplidar.launch" />
		<!-- base_link to base_laser -->  	
	<!--node pkg="tf" type="static_transform_publisher" name="base_link_to_laser_link" 
	      args="0 0 0 0 0 0 base_link laser 100" />
	<node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link" 
	      args="0 0 0 0 0 0 base_footprint base_link 100"/-->
	<include file="$(find rover_bringup)/launch/different_drive.launch" />
  
</launch>
